@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  border: none; /* 테두리 제거 */
  border-bottom: 2px solid black;
  padding: 0; /* 내부 여백 제거 */
  margin: 0; /* 외부 여백 제거 */
  outline: none; /* 포커스 시 테두리 제거 */
  background: none; /* 배경색 제거 */
  box-shadow: none; /* 그림자 효과 제거 */
  appearance: none; /* 브라우저 기본 스타일 제거 */
  -webkit-appearance: none; /* 웹킷 기반 브라우저 기본 스타일 제거 */
  -moz-appearance: none; /* 모질라 기반 브라우저 기본 스타일 제거 */
}

input:focus {
  border-bottom: 2px solid #3e4cf7;
}

/* 모든 input 요소의 기본 글꼴과 크기 제거 */
input {
  font-family: inherit; /* 부모 요소의 글꼴 상속 */
  font-size: inherit; /* 부모 요소의 글꼴 크기 상속 */
}

::-webkit-scrollbar {
  display: none;
}
